:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

* {
    box-sizing: border-box;
  }

/***** General *****/

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 20px;
}

header, footer {
    width: 100%;
}

/*::placeholder {
    font-family: 'Raleway';
    color: black;
    font-size: 18px;
    font-weight: bold;
}*/

/****** Activities ***********/

.activites-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 20px;
}

.card-item img {
    border-radius: 30px 30px 0px 0px;
    width : 297.5px;
    height: 380px;
    object-fit: cover;
    margin-bottom: 0px;
}


/***** Header *****/

.logo-icone {
    width: 61.09px;
    height: 19px;
}

    /*** Nav ***/
.menu-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-principal a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

.menu-principal a:hover {
    border-top: solid 2px var(--main-color);
}

.menu-principal a:active {
    color: var(--main-color);
}




/****** Search bar ***********/

/***** Form *****/

form {
    width : 377px;
    height : 49px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: solid 1px #F2F2F2;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .fa-location-dot {
    text-align: center;
    background-color: #F2F2F2;
    width : 49px;
    height : 49px; 
    padding : 15px 16px 16px 18px;
    border-radius : 15px 0px 0px 15px;
    color: black;
  }
  
  input {
    width: 195px;
    height: 49px;
    border: solid 1px var(--main-bg-color); 
    margin: 0px 0px 15px 0px;
    font-size: 16px;
    padding-left: 24px;
  }

  input .search {
    margin-left: 24px;
  }
  
  
  button {
    background-color : #0065FC;
    color: white;
    border-radius: 0px 15px 15px 0px; /*15px under 768px*/
    width : auto; 
    height: 49px;
    font-size: 18px;
    font-weight: 700;
  }
  
  .btn-mobile {
    display:none;
    padding : 16px;  
  }
  
  .btn-desktop {
    padding : 14px 16px 14px 16px;
  }


.span-info {
    border: solid 1px #D9D9D9;
    border-radius : 50%;
    width : 24px;
    height : 24px;
    color: var(--main-color);
  }
  
.location-btn {
    background-color: #F2F2F2;
    padding : 15px 15px;
    border: none;
    margin: 0px;
    border-radius: 15px 0px 0px 15px;
    width: 50px;
    height: 50px;
}

.search-bar {
    margin: 0 10px;
    padding: 15px 15px;
    /*margin : 0px;*/
}

.form-search {
    border: solid 1px var(--main-bg-color);
    width: 377px;
    height: 49px;
    border-radius: 15px;
}

.submit-btn-search {
  background-color: var(--main-color);
  border: none;
  color: white;
  border-radius: 0px 16px 15px 0px;
  padding: 1px 16px 14px 16px;
  text-align: center;
  font-size: 16px;
  width: 132px;
}

.submit-btn-magniglass {
    display : none;
}

/* Config identiques aux deux bouttons */
button { 
    background-color: var(--main-color);
    border-radius: 0px 16px 15px 0px;
    font-size: 18px;
    border: none;
  }

.btn-desktop {
    color: white;
}

.btn-mobile {
    display:none;
  }

/****** Filters ***********/

.menu-filters {
    display:flex;
    flex-direction: row;
    align-items: baseline;
    gap: 20px;
}

.menu-filters ul {
    display: flex;
    gap: 20px;
}


.menu-filters li {
    border: 2px solid #d9d9d9;
    border-radius: 45px;
    padding: 15.5px 19px 15.5px 19px;
    width: 200px;
}

.menu-filters li:hover {
    background-color: #DEEBFF;
}

.menu-filters a{
    text-decoration: none;
}
  
.filters a:hover {
    background-color: #DEEBFF;
}
  
.fa-money-bill-wave, .fa-person, .fa-heart, .fa-fire {
    margin-right: 10px;
}

.fa-circle-info {
    border: 1px solid var(--filter-bg-color);
    border-radius: 20px;
}

/***** Activities *****/

.activites-section {
    margin-top : 30px;
    margin-bottom: 30px;
}

.activites-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}


.activites-row .card {
    background-color: white;
    border-radius: 40px 40px 40px 40px;
    padding: 0px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-activite {
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    padding: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin: 0;
}

.activites-row ul {
    margin-left: 20px;
}

/***** Footer *****/ 

footer {
    margin-top: 50px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
    text-align: left;
}

footer ul {
    padding-left: 20px;
    width: calc(100% / 3);
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    border-top: none ;
}

/***** Hebergements *****/ 

.hebergements-and-populaires a {
    text-decoration: none;
    margin-top: 30px;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

body {
    margin-left: 50px;
    margin-right: 50px;
}

.main-container {
    max-width: 1024px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 0px;
    padding-left: 0px;
}

.hebergements-and-populaires {
    flex-direction: row;
}

.hebergements-and-populaires .populaires-cards .card-subtitle {
    margin-top: 15px;
}

.hebergements ul {
    padding: 0%;
}

.activites-row {
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
    width: 100%;
}


.card-item img {
    width : 193.5px;
    height: 200px;
}

.activites-row article {
    width: 194px;/**/
}

.hebergements-and-populaires .card-title {
    font-size: 16px;
    height : 19px;
}

.menu-filters ul {
    flex-direction : row;
}

.menu-filters {
    flex-direction : column;
}

.menu-filters {
    text-align: center;
}

/***** Order *****/

header {
    order :1;
    width: 100%;
}

.menu-filters {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.menu-filters ul {
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction : row;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.menu-filters li {
    width: 100%;
}

.fa-info {
    color : var(--main-color);
    padding : 5px;
}

.hebergements section {
    order: 2;
    width: 100%;
}

.populaires section {
    order: 3;
    width: 100%;
}

.activites section {
    order: 4;
    width: 100%;
}

footer {
    order: 5;
    width: 100%;
}

.card img {
    width: 268px;
    height: 124px;
}

.activites-row img {
    width: 193.50px;
    height: 200px;
}

.populaires img {
    width: 91.67px;
    height: 146px;
    border-radius: 15px 0px 0px 15px;
}

}
/* Small devices (phones, less than 768px) */
@media screen and (max-width: 767.98px) {

body {
    margin: 0px;
}

h1 {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 22px;
}

h2 {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
}

h3 {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}

.main-container {
    max-width: 767.98px;
    padding: 0px;
}

.menu-principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu-principal .menu {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-principal .menu a {
    margin-right: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.menu img {
    width: auto;
}

.menu-filters {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.menu-filters ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.menu-filters li {
    width: 200px;
}

.menu-filters .fa-solid {
    color: var(--main-color);
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 0;
    padding: 30px;
    box-sizing: border-box;
}

.populaires-cards {
    display: flex;
    flex-direction: column;

}

.hebergements {
    background-color: white;
}

.menu-secondary {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.btn-desktop {
    display: none;
}

.btn-mobile {
    display: flex;
    border: none;
}

.fa-magnifying-glass {
    color: white;
}

.hebergements-and-populaires ul {
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}
.hebergements img {
    width: 335px;
    height: 124px;
}

.activites-row {
    flex-direction: column;
    align-items: center;
}

.activites-row img {
    width: 315px;
    height: 141px;
}

.populaires-cards .card {
    width: 80%;
}

.button1 {
    display: none;
}

/*.button2 {

}*/

/***** Order768 *****/

header {
    order :0;
    width: 100%;
}

.hebergements {
    order: 6;
    width: 100%;
}

.populaires {
    order: 1;
    width: 100%;
}

.activites {
    order: 5;
    width: 100%;
}

footer {
    order: 6;
    width: 100%;
}

}