/*a {
    outline: 2px dotted red;
}
    
article {
    outline: 2px dashed blue;
}*/

/****** General ******/

* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

h1 {
    font-size: 22px;
    margin-bottom: 4px;
    font-weight: 700;
    line-height: 26px;
    padding-top: 60px;
}

.sub-h1 {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 19px;
}

h2 {
    font-size: 22px;
    font-weight: 700;
}

.show-more {
    font-size: 18px;
    font-weight: 700;
}

.menu-filters a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

  
.menu-filters a:hover {
    border-top: none;
  }

.menu-filters span {
    font-size: 17px;
}


h3 {
    font-size: 18px;
    font-weight: 700;
    font-weight: bold;
}

header,
footer {
  width: 100%;
}

.marg-left-20 {
    margin-left: 20px;
}

/****** Header ******/

header {
    margin-left: -20px;
}

.logo-icone {
    width: 61.09px;
    height: 19px;
    margin-top: 30px;
}

/**** Nav ****/
.menu-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-principal a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  margin-left: 68px;
  font-size: 16px;
  font-weight: 400;
}

.menu-principal a:hover {
  border-top: solid 2px #0065fc;
}

.menu-principal a:active {
  color: var(--main-color);
}

/****** Search bar ******/


/**** Form ****/

form {
  width: auto;
  height: 49px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 15px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.fa-location-dot {
  text-align: center;
  background-color: #f2f2f2;
  width: 49px;
  height: 49px;
  padding: 15px 16px 16px 18px;
  border-radius: 15px 0px 0px 15px;
  color: black;
}

input {
  width: 195px;
  height: 49px;
  border: solid 1px var(--main-bg-color);
  margin: 0px 0px 15px 0px;
  font-size: 16px;
  padding-left: 24px;
  font-weight: bold;
  font-size: 18px;
  font-weight: 700;
}


button {
  background-color: #0065fc;
  color: white;
  border-radius: 0px 15px 15px 0px;
  width: auto;
  height: 49px;
  font-size: 18px;
  font-weight: 700;
}

.btn-mobile {
  display: none;
  padding: 16px;
}

.btn-desktop {
  padding: 14px 16px 14px 16px;
  font-size: 18px;
  font-weight: 700;
}


.informations {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;

}
.info-span-info {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    border: solid 1px #d9d9d9;
    border-radius: 25px;
    width: 24px;
    height: 24px;
    text-align: center;
}

.info-span-text {
   padding-left: 10px; 
}


.location-btn {
  background-color: #f2f2f2;
  padding: 15px 15px;
  border: none;
  margin: 0px;
  border-radius: 15px 0px 0px 15px;
  width: 50px;
  height: 50px;
}

.search-bar {
  margin: 0 10px;
  padding: 15px 15px;
}

.form-search {
  border: solid 1px var(--main-bg-color);
  width: 377px;
  height: 49px;
  border-radius: 15px;
}

.submit-btn-search {
  background-color: var(--main-color);
  border: none;
  color: white;
  border-radius: 0px 16px 15px 0px;
  padding: 1px 16px 14px 16px;
  text-align: center;
  font-size: 16px;
  width: 132px;
}

.submit-btn-magniglass {
  display: none;
}

/**** Config identiques aux deux bouttons ****/
button {
  background-color: var(--main-color);
  border-radius: 0px 16px 15px 0px;
  font-size: 18px;
  border: none;
}

.btn-desktop {
  color: white;
}

.btn-mobile {
  display: none;
}

/****** Filters ******/

.menu-filters {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 20px;
}

.menu-filters ul {
    width: 100%;
    display: flex;
    gap: 10px;
    font-weight: bold;
}

.menu-filters li {
    border: 2px solid #d9d9d9;
    border-radius: 45px;
    padding: 12px;
}

.menu-filters li:hover {
    background-color: #deebff;
}

.menu-filters a {
    text-decoration: none;

}

.filters a:hover {
    background-color: #deebff;
}

.fa-money-bill-wave,
.fa-person,
.fa-heart,
.fa-fire {
  margin-right: 10px;
  color: var(--main-color);
}

.fa-star {
    color : var(--main-color);
}

.fa-circle-info {
  border: 1px solid var(--filter-bg-color);
  border-radius: 20px;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  padding: 0px 50px 0px 50px;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  padding: 5px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.hebergements-and-populaires section {
  border-radius: 20px;
  padding: 30px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
}

.hebergements .card img {
    width: 250px;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.hebergements-and-populaires a {
    text-decoration: none;
}

.hebergements-and-populaires .card .card-title {
    margin-top: 4px;
    margin-bottom: 0px;
}

.hebergements-and-populaires .card .card-subtitle {
    margin-top: 8px;
    margin-bottom: 0px;
}

.hebergements-and-populaires .card .card-rating {
    margin-top: 8px;
    margin-bottom: 0px;
}




/****** Populaires ***********/
.populaires {
  width: 32%;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.populaires-title a {
    text-decoration: none;
    color: black;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.hebergements .card {
  margin-top: 33px;
}

.hebergements .card-content {
    padding-left: 15px;
}

.hebergements .card-subtitle {
    font-size: 14px;
    margin-top: 8px;
}

.populaires a {
    width: 33.33%;
}

.populaires-cards img {
    width: 100%;
    height: 144px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}


.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-top: 8px;
}


/****** Activities ******/

.activites-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: stretch;
  gap: 20px;
}

.activites-row img {
    object-fit: cover;
}

.activite-card {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 0px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activite-card img {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    height: 380px;
    object-fit: cover;
}

.title-activite-H3 {
    padding: 20px;
    margin: 0;
}

.activites-section {
    width: 99%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.activites-row .card {
  background-color: white;
  border-radius: 40px 40px 40px 40px;
  padding: 0px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  width: 100%;
}

.activites-row ul {
  margin-left: 20px;
}

.activites-row li {
  width: 100%;
}


.card-activite {
  background-color: white;
  border-radius: 0px 0px 20px 20px;
  padding: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  margin: 0;
}

/****** Footer ******/

footer {
  margin-top: 50px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
  text-align: left;
}

footer ul {
  padding-left: 20px;
  width: calc(100% / 3);
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  border-top: none;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

body {
    margin-left: 50px;
    margin-right: 50px;
    margin: 0px;
}
    
.main-container {
    max-width: 1024px;
    padding: 30px 50px 0px 50px;
}

.menu-filters ul {
    flex-wrap: nowrap;
    flex-direction : row;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.menu-filters {
    flex-direction : column;
    text-align: center;
}

.menu-filters span {
    font-size: 16px;
}

.hebergements-and-populaires {
    flex-direction: row;
}

.hebergements {
    width: 100%;
}

.hebergements ul {
    padding: 0%;
}

.hebergements-and-populaires .populaires-cards .card-subtitle {
    margin-top: 30px;
}

.hebergements-and-populaires .card-title {
    margin-top: 4px;
}

.populaires {
    width: 100%;
    margin-top: 50px;
}

.populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.populaires-cards .card {
    width: 30%;
}


.populaires-cards .card-subtitle {
    font-size: 14px;
}

.activites-row {
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
    width: 100%;
    align-items: stretch;
}

.activite-card img {
    height: 200px;
}



/****** Order 1024 ******/

header {
    margin-left: 0px;
    order : 1;
    width: 100%;
}

.menu-filters {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.menu-filters li {
    width: auto;
}

.fa-info {
    color : var(--main-color);
    padding : 5px;
}

.hebergements section {
    order: 2;
    width: 100%;
}

.populaires section {
    order: 3;
    width: 100%;
}

.activites section {
    order: 4;
    width: 100%;
}

footer {
    order: 5;
    width: 100%;
}


.populaires img {
    height: 146px;
    border-radius: 15px 0px 0px 15px;
}
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

body {
    margin: 0px;
    padding: 0px;
}

.main-container {
    padding: 0px 0px 0px 0px;
}

.accroche {
    margin-top: -30px;
}

.menu-principal .menu {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.menu-principal .link-768 {
    margin: 0px;
}

.menu-principal a {
    border-bottom: solid 2px #F2F2F2;
}
  
.menu-principal a:hover {
    border-top: none;
    border-bottom: solid 2px var(--main-color);
}
  
.menu-principal a:active {
    color: var(--main-color);
}

.main-container {
    max-width: 767.98px;
}

h1 {
    padding-right: 20px;
}

h2 {
    padding-left: 20px;
    padding-right: 20px;
}

h3 {
    padding-left: 10px;
    padding-right: 10px;
}

header nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu-principal .menu {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accroche, .menu-secondary, .informations {
    padding: 0px 20px 0px 20px;
}

.menu-principal .menu a {
    margin-right: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.menu-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu img {
    width: auto;
}

.menu-filters {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.menu-filters ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
    gap: 20px;
}

.menu-filters li {
    width: 45%;
    text-align: center;
}

.menu-filters h1 {
    padding-left: 20px;
}

.menu-filters span {
    font-size: 16px;
}

.menu-filters .fa-solid {
    color: var(--main-color);
}

.menu-secondary {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.btn-desktop {
    display: none;
}

.btn-mobile {
    display: flex;
    border: none;
}

.fa-magnifying-glass {
    color: white;
}

.hebergements-and-populaires ul {
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}
.hebergements img {
    width: 100%;
    height: 124px;
    object-position: 50% 70%;
}

.hebergements-and-populaires section {
    border-radius: 0;
    padding: 30px;
    box-sizing: border-box;
}

.hebergements {
    background-color: white;
}

.populaires {
    padding: 15px 0px 15px 0px;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
}

.hebergements .card img {
    width: 100%;
    height: 124px;

}

.populaires-cards .card {
    width: 100%;
}

.populaires a {
    width: 33.33%;
}

.populaires-cards img {
    width: 100%;
    height: 144px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.activites-row {
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.activite-card img {
    width: 100%;
    height: 124px;
}


.button1 {
    display: none;
}

/***** Order768 *****/

header {
    order :0;
    width: 100%;
}

.hebergements {
    order: 6;
    width: 100%;
}

.populaires {
    order: 1;
    width: 100%;
}

.activites {
    order: 5;
    width: 100%;
}

footer {
    flex-direction: column;
    order: 6;
    width: 100%;
}

footer ul {
    padding: 10px 15px 0px 30px;
    width: 100%;
}

footer h2 {
    padding: 30px 0px 0px 0px;
}
}
